#toolbar-item-shortcuts-tray nav > ul {
  margin: 0;
}

#toolbar-item-shortcuts-tray li {
  margin-bottom: 0;
}

#toolbar-item-shortcuts-tray li li {
  position: relative;
  width: 150px;
}

#toolbar-item-shortcuts-tray li > ul {
  display: none;
  border-bottom: 1px solid #aaa;
  box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
  position: absolute;
  background: #fff;
  margin-top: 0;
  padding-right: 20px;
}

#toolbar-item-shortcuts-tray li > ul ul {
  right: calc(-100% - 20px);
  top: 0;
}

#toolbar-item-shortcuts-tray li:hover > ul,
#toolbar-item-shortcuts-tray li:focus > ul {
  display: block;
}

#toolbar-item-shortcuts-tray li.edit-shortcuts {
  border: none;
}

#toolbar-item-shortcuts-tray span {
  color: #565656;
  cursor: pointer;
  padding: 1em 1.3333em;
  display: block;
  text-decoration: none;
}
